In [2]:
#imports
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
#loading data
data = pd.read_csv("adult.data")
columns = ["age", "workclass", "fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss", "hours-per-week", "native-country", "income"]
data.columns = columns
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
#data clean up
#eventueel te verwijderen columnen: relationship, marital-status, (capital gain/loss idk wat is), 
print("Before clean up:",len(data))
df = data

Before clean up: 32560

In [84]:

#native country, education want education-num.
print("unique values per column")
for column in data.columns:
    count = data[column].nunique()
    print(column, ":", count)
    
print(f"\nage range: {min(data.age)} to {max(data.age)}")
print(f"\npercentage >50k: {((data['income'] == ' >50K').mean() * 100):.2f}%, <=50k: {((data['income'] == ' <=50K').mean() * 100):.2f}%")
print(f"\nTotal >50k: {((data['income'] == ' >50K').sum())}, <=50k: {((data['income'] == ' <=50K').sum())}")
print(f"\npercentage White: {((data['race'] == ' White').mean() * 100):.2f}%, Black: {((data['race'] == ' Black').mean() * 100):.2f}%, Asian-Pac-Islander: {((data['race'] == ' Asian-Pac-Islander').mean() * 100):.2f}%, Amer-Indian-Eskimo: {((data['race'] == ' Amer-Indian-Eskimo').mean() * 100):.2f}%, Other: {((data['race'] == ' Other').mean() * 100):.2f}%")
print(f"\nTotal White: {((data['race'] == ' White').sum())}, Black: {((data['race'] == ' Black').sum())}, Asian-Pac-Islander: {((data['race'] == ' Asian-Pac-Islander').sum())}, Amer-Indian-Eskimo: {((data['race'] == ' Amer-Indian-Eskimo').sum())}, Other: {((data['race'] == ' Other').sum())}")
print(f"\npercentage Male: {((data['sex'] == ' Male').mean() * 100):.2f}%, Female: {((data['sex'] == ' Female').mean() * 100):.2f}%")
print(f"\nTotal Male: {((data['sex'] == ' Male').sum())}, Female: {((data['sex'] == ' Female').sum())}")


# Group data by education level
sex_groups = df.groupby('sex')
# income split by education levels
education_groups = df.groupby('education')
# income split by race
race_groups = df.groupby('race')

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_greater_50k = education_groups['income'].apply(lambda x: (x == ' >50K').mean() * 100)
percentage_less_equal_50k = education_groups['income'].apply(lambda x: (x == ' <=50K').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Highest education Level': percentage_greater_50k.index,
    '>50K Percentage': percentage_greater_50k.values,
    '<=50K Percentage': percentage_less_equal_50k.values
})

# Print the overview table without numbers in front of the values
print(f"\n{overview_df.to_string(index=False)}")

# sex split by education levels
# Calculate percentage of people with income >50K and <=50K for each education level
percentage_male = education_groups['sex'].apply(lambda x: (x == ' Male').mean() * 100)
percentage_female = education_groups['sex'].apply(lambda x: (x == ' Female').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Highest education Level': percentage_male.index,
    'Male Percentage': percentage_male.values,
    'Female Percentage': percentage_female.values
})

# Print the overview table without numbers in front of the values
print(f"\n{overview_df.to_string(index=False)}")

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_greater_50k = race_groups['income'].apply(lambda x: (x == ' >50K').mean() * 100)
percentage_less_equal_50k = race_groups['income'].apply(lambda x: (x == ' <=50K').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Race': percentage_greater_50k.index,
    '>50K Percentage': percentage_greater_50k.values,
    '<=50K Percentage': percentage_less_equal_50k.values
})
# Print the overview table without numbers in front of the values
print(f"\n{overview_df.sort_values(by='>50K Percentage', ascending=False).to_string(index=False)}")

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_male = race_groups['sex'].apply(lambda x: (x == ' Male').mean() * 100)
percentage_female = race_groups['sex'].apply(lambda x: (x == ' Female').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Race': percentage_male.index,
    'Male Percentage': percentage_male.values,
    'Female Percentage': percentage_female.values
})

# Print the overview table without numbers in front of the values
print(f"\n{overview_df.to_string(index=False)}")

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_greater_50k = sex_groups['income'].apply(lambda x: (x == ' >50K').mean() * 100)
percentage_less_equal_50k = sex_groups['income'].apply(lambda x: (x == ' <=50K').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Sex': percentage_greater_50k.index,
    '>50K Percentage': percentage_greater_50k.values,
    '<=50K Percentage': percentage_less_equal_50k.values
})
# Print the overview table
print(f"\n{overview_df.sort_values(by='>50K Percentage', ascending=False).to_string(index=False)}")

unique values per column
age : 73
workclass : 9
fnlwgt : 21647
education : 16
education-num : 16
marital-status : 7
occupation : 15
relationship : 6
race : 5
sex : 2
capital-gain : 119
capital-loss : 92
hours-per-week : 94
native-country : 42
income : 2

age range: 17 to 90

percentage >50k: 24.08%, <=50k: 75.92%

Total >50k: 7841, <=50k: 24719

percentage White: 85.43%, Black: 9.59%, Asian-Pac-Islander: 3.19%, Amer-Indian-Eskimo: 0.96%, Other: 0.83%

Total White: 27815, Black: 3124, Asian-Pac-Islander: 1039, Amer-Indian-Eskimo: 311, Other: 271

percentage Male: 66.92%, Female: 33.08%

Total Male: 21789, Female: 10771

Education Level  >50K Percentage  <=50K Percentage
           10th         6.645230         93.354770
           11th         5.106383         94.893617
           12th         7.621247         92.378753
        1st-4th         3.571429         96.428571
        5th-6th         4.804805         95.195195
        7th-8th         6.191950         93.808050
            9th         5.252918         94.747082
     Assoc-acdm        24.835989         75.164011
      Assoc-voc        26.121563         73.878437
      Bachelors        41.483003         58.516997
      Doctorate        74.092010         25.907990
        HS-grad        15.950862         84.049138
        Masters        55.658735         44.341265
      Preschool         0.000000        100.000000
    Prof-school        73.437500         26.562500
   Some-college        19.023454         80.976546

Education Level  Male Percentage  Female Percentage
           10th        68.381565          31.618435
           11th        63.234043          36.765957
           12th        66.743649          33.256351
        1st-4th        72.619048          27.380952
        5th-6th        74.774775          25.225225
        7th-8th        75.232198          24.767802
            9th        71.984436          28.015564
     Assoc-acdm        60.543580          39.456420
      Assoc-voc        63.820550          36.179450
      Bachelors        69.760926          30.239074
      Doctorate        79.176755          20.823245
        HS-grad        67.717360          32.282640
        Masters        68.891468          31.108532
      Preschool        68.627451          31.372549
    Prof-school        84.027778          15.972222
   Some-college        61.514196          38.485804

               race  >50K Percentage  <=50K Percentage
 Asian-Pac-Islander        26.564004         73.435996
              White        25.586914         74.413086
              Black        12.387964         87.612036
 Amer-Indian-Eskimo        11.575563         88.424437
              Other         9.225092         90.774908

               Race  Male Percentage  Female Percentage
 Amer-Indian-Eskimo        61.736334          38.263666
 Asian-Pac-Islander        66.698749          33.301251
              Black        50.224072          49.775928
              Other        59.778598          40.221402
              White        68.930433          31.069567

    sex  >50K Percentage  <=50K Percentage
   Male        30.575061         69.424939
 Female        10.946059         89.053941