In [1]:
#imports
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
#loading data
data = pd.read_csv("adult.csv")
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [40]:
#data clean up
#eventueel te verwijderen columnen: relationship, marital-status, (capital gain/loss idk wat is), 
print("Before clean up:",len(data))

dataExcluding = df[data['native-country'] != '?']
print("After removing '?' from 'native-country' column: ",len(dataExcluding))
df = dataExcluding

Before clean up: 48842
After removing '?' from 'native-country' column:  47985

In [44]:
#native country, education want education-num.
   
print(f"\nage range: {min(df.age)} to {max(df.age)}")
print(f"\npercentage >50k: {((df['income'] == '>50K').mean() * 100):.2f}%, <=50k: {((df['income'] == '<=50K').mean() * 100):.2f}%")
print(f"\nTotal >50k: {((df['income'] == '>50K').sum())}, <=50k: {((df['income'] == '<=50K').sum())}")
print(f"\npercentage White: {((df['race'] == 'White').mean() * 100):.2f}%, Black: {((df['race'] == 'Black').mean() * 100):.2f}%, Asian-Pac-Islander: {((df['race'] == 'Asian-Pac-Islander').mean() * 100):.2f}%, Amer-Indian-Eskimo: {((df['race'] == 'Amer-Indian-Eskimo').mean() * 100):.2f}%, Other: {((df['race'] == 'Other').mean() * 100):.2f}%")
print(f"\nTotal White: {((df['race'] == 'White').sum())}, Black: {((df['race'] == 'Black').sum())}, Asian-Pac-Islander: {((df['race'] == 'Asian-Pac-Islander').sum())}, Amer-Indian-Eskimo: {((df['race'] == 'Amer-Indian-Eskimo').sum())}, Other: {((df['race'] == 'Other').sum())}")
print(f"\npercentage Male: {((df['gender'] == 'Male').mean() * 100):.2f}%, Female: {((df['gender'] == 'Female').mean() * 100):.2f}%")
print(f"\nTotal Male: {((df['gender'] == 'Male').sum())}, Female: {((df['gender'] == 'Female').sum())}")

# Group df by education level
gender_groups = df.groupby('gender')
# income split by education levels
education_groups = df.groupby('education')
# income split by race
race_groups = df.groupby('race')

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_greater_50k = education_groups['income'].apply(lambda x: (x == '>50K').mean() * 100)
percentage_less_equal_50k = education_groups['income'].apply(lambda x: (x == '<=50K').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Highest education Level': percentage_greater_50k.index,
    '>50K Percentage': percentage_greater_50k.values,
    '<=50K Percentage': percentage_less_equal_50k.values
})

# Print the overview table without numbers in front of the values
print(f"\n{overview_df.to_string(index=False)}")

# gender split by education levels
# Calculate percentage of people with income >50K and <=50K for each education level
percentage_male = education_groups['gender'].apply(lambda x: (x == 'Male').mean() * 100)
percentage_female = education_groups['gender'].apply(lambda x: (x == 'Female').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Highest education Level': percentage_male.index,
    'Male Percentage': percentage_male.values,
    'Female Percentage': percentage_female.values
})

# Print the overview table without numbers in front of the values
print(f"\n{overview_df.to_string(index=False)}")

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_greater_50k = race_groups['income'].apply(lambda x: (x == '>50K').mean() * 100)
percentage_less_equal_50k = race_groups['income'].apply(lambda x: (x == '<=50K').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Race': percentage_greater_50k.index,
    '>50K Percentage': percentage_greater_50k.values,
    '<=50K Percentage': percentage_less_equal_50k.values
})
# Print the overview table without numbers in front of the values
print(f"\n{overview_df.sort_values(by='>50K Percentage', ascending=False).to_string(index=False)}")

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_male = race_groups['gender'].apply(lambda x: (x == 'Male').mean() * 100)
percentage_female = race_groups['gender'].apply(lambda x: (x == 'Female').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Race': percentage_male.index,
    'Male Percentage': percentage_male.values,
    'Female Percentage': percentage_female.values
})

# Print the overview table without numbers in front of the values
print(f"\n{overview_df.to_string(index=False)}")

# Calculate percentage of people with income >50K and <=50K for each education level
percentage_greater_50k = gender_groups['income'].apply(lambda x: (x == '>50K').mean() * 100)
percentage_less_equal_50k = gender_groups['income'].apply(lambda x: (x == '<=50K').mean() * 100)
# Create an overview table
overview_df = pd.DataFrame({
    'Gender': percentage_greater_50k.index,
    '>50K Percentage': percentage_greater_50k.values,
    '<=50K Percentage': percentage_less_equal_50k.values
})
# Print the overview table
print(f"\n{overview_df.sort_values(by='>50K Percentage', ascending=False).to_string(index=False)}")

age range: 17 to 90

percentage >50k: 23.90%, <=50k: 76.10%

Total >50k: 11467, <=50k: 36518

percentage White: 85.84%, Black: 9.49%, Asian-Pac-Islander: 2.90%, Amer-Indian-Eskimo: 0.98%, Other: 0.80%

Total White: 41189, Black: 4553, Asian-Pac-Islander: 1391, Amer-Indian-Eskimo: 470, Other: 382

percentage Male: 66.77%, Female: 33.23%

Total Male: 32041, Female: 15944

Highest education Level  >50K Percentage  <=50K Percentage
                   10th         6.268222         93.731778
                   11th         5.055556         94.944444
                   12th         7.086614         92.913386
                1st-4th         3.333333         96.666667
                5th-6th         4.897959         95.102041
                7th-8th         6.337272         93.662728
                    9th         5.234899         94.765101
             Assoc-acdm        25.775807         74.224193
              Assoc-voc        25.368008         74.631992
              Bachelors        41.407550         58.592450
              Doctorate        73.131673         26.868327
                HS-grad        15.918132         84.081868
                Masters        55.137650         44.862350
              Preschool         1.219512         98.780488
            Prof-school        74.628713         25.371287
           Some-college        18.996549         81.003451

Highest education Level  Male Percentage  Female Percentage
                   10th        66.982507          33.017493
                   11th        64.111111          35.888889
                   12th        67.716535          32.283465
                1st-4th        74.583333          25.416667
                5th-6th        75.510204          24.489796
                7th-8th        75.295381          24.704619
                    9th        70.738255          29.261745
             Assoc-acdm        60.924636          39.075364
              Assoc-voc        64.573111          35.426889
              Bachelors        68.931542          31.068458
              Doctorate        80.604982          19.395018
                HS-grad        67.708200          32.291800
                Masters        68.049632          31.950368
              Preschool        70.731707          29.268293
            Prof-school        84.282178          15.717822
           Some-college        61.512636          38.487364

              Race  >50K Percentage  <=50K Percentage
Asian-Pac-Islander        26.959022         73.040978
             White        25.353857         74.646143
             Other        12.303665         87.696335
             Black        12.014057         87.985943
Amer-Indian-Eskimo        11.702128         88.297872

              Race  Male Percentage  Female Percentage
Amer-Indian-Eskimo        60.638298          39.361702
Asian-Pac-Islander        65.564342          34.435658
             Black        50.230617          49.769383
             Other        62.303665          37.696335
             White        68.753793          31.246207

Gender  >50K Percentage  <=50K Percentage
  Male        30.354858         69.645142
Female        10.919468         89.080532

age range: 17 to 90

percentage >50k: 23.93%, <=50k: 76.07%

Total >50k: 11687, <=50k: 37155

percentage White: 85.50%, Black: 9.59%, Asian-Pac-Islander: 3.11%, Amer-Indian-Eskimo: 0.96%, Other: 0.83%

Total White: 41762, Black: 4685, Asian-Pac-Islander: 1519, Amer-Indian-Eskimo: 470, Other: 406

percentage Male: 66.85%, Female: 33.15%

Total Male: 32650, Female: 16192

Highest education Level  >50K Percentage  <=50K Percentage
                   10th         6.268222         93.731778
                   11th         5.055556         94.944444
                   12th         7.086614         92.913386
                1st-4th         3.333333         96.666667
                5th-6th         4.897959         95.102041
                7th-8th         6.337272         93.662728
                    9th         5.234899         94.765101
             Assoc-acdm        25.775807         74.224193
              Assoc-voc        25.368008         74.631992
              Bachelors        41.407550         58.592450
              Doctorate        73.131673         26.868327
                HS-grad        15.918132         84.081868
                Masters        55.137650         44.862350
              Preschool         1.219512         98.780488
            Prof-school        74.628713         25.371287
           Some-college        18.996549         81.003451

Highest education Level  Male Percentage  Female Percentage
                   10th        66.982507          33.017493
                   11th        64.111111          35.888889
                   12th        67.716535          32.283465
                1st-4th        74.583333          25.416667
                5th-6th        75.510204          24.489796
                7th-8th        75.295381          24.704619
                    9th        70.738255          29.261745
             Assoc-acdm        60.924636          39.075364
              Assoc-voc        64.573111          35.426889
              Bachelors        68.931542          31.068458
              Doctorate        80.604982          19.395018
                HS-grad        67.708200          32.291800
                Masters        68.049632          31.950368
              Preschool        70.731707          29.268293
            Prof-school        84.282178          15.717822
           Some-college        61.512636          38.487364

              Race  >50K Percentage  <=50K Percentage
Asian-Pac-Islander        26.959022         73.040978
             White        25.353857         74.646143
             Other        12.303665         87.696335
             Black        12.014057         87.985943
Amer-Indian-Eskimo        11.702128         88.297872

              Race  Male Percentage  Female Percentage
Amer-Indian-Eskimo        60.638298          39.361702
Asian-Pac-Islander        65.564342          34.435658
             Black        50.230617          49.769383
             Other        62.303665          37.696335
             White        68.753793          31.246207

Gender  >50K Percentage  <=50K Percentage
  Male        30.354858         69.645142
Female        10.919468         89.080532